.footer,.main-section {
	text-align:center
}
.full-screen,body,html {
	min-height:100%;height:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale
}
body {
	position:relative
}
section {
	font-family:Karla,sans-serif
}
section h1 {
	font-size:30px;line-height:14px
}
button {
	border:2px solid #fff;width:187px;font-size:14px;line-height:48px;background:0 0;color:#fff
}
.navbar {
	color:#103b58;-webkit-box-shadow:0 10px 20px 0 rgba(0,0,0,.1);-moz-box-shadow:0 10px 20px 0 rgba(0,0,0,.1);box-shadow:0 10px 20px 0 rgba(0,0,0,.1);z-index:10;background:#fff;height:61px;width:100%;margin-bottom:0;border-radius:0
}
.navbar>.container-fluid {
	padding-left:31px;padding-right:43px
}
.navbar.affix {
	position:absolute;bottom:0
}
.navbar.affix-top {
	position:fixed;bottom:0
}
.navbar.topfix {
	position:fixed;top:0
}
.navbar .navbar-brand {
	font-size:30px;line-height:14px;padding:23px 0
}
.navbar .dropdown-toggle {
	font-size:30px;float:right
}
.navbar .dropdown-toggle .glyphicon {
	vertical-align:middle
}
.navbar .navbar-toggle {
	display:block;border:none;padding:21px 0;margin:0
}
.navbar .navbar-toggle .icon-bar {
	background-color:#103b58;height:3px;width:22px
}
.navbar .dropdown-menu {
	width:100%;text-align:center
}
.section-overlay {
	width:100%;height:100%;position:absolute;background:#fff;z-index:11
}
.img-preloader {
	background:url(../images/background.jpg)
}
.intro-section {
	color:#000;background:top left no-repeat;background-blend-mode:multiply;-webkit-background-blend-mode:multiply;position:relative;transition:color 3s;z-index:10
}
.intro-section.first-bg {
	background:#fff;background:url(../images/background.jpg),-moz-linear-gradient(top,#fff 0,#1e5799 40%,#1e5799 40%),rgba(0,0,0,.5);background:url(../images/background.jpg),-webkit-linear-gradient(top,#fff 0,#1e5799 40%,#1e5799 40%),rgba(0,0,0,.5);background:url(../images/background.jpg),linear-gradient(to bottom,#fff 0,#1e5799 40%,#1e5799 40%),rgba(0,0,0,.5);background-position:top center;background-size:cover
}
.intro-section .main-copy {
	padding-left:68px;margin-top:294px;z-index:20;
}
.intro-section .main-copy .row {
	margin-bottom:24px
}
.intro-section .main-copy .lead-in {
	font-size:48px;line-height:48px;text-transform:uppercase
}
.intro-section .main-copy .sub-text {
	font-size:14px;line-height:20px
}
.intro-section .main-copy .CTA-button {
	padding:0;width:auto
}
.intro-section .main-copy .CTA-button button {
	margin-right:13px;width:187px;-webkit-transition:background 1s;transition:background 1s
}
.main-section .image-container .focus-image,.overlay {
	width:100%
}
.intro-section .main-copy .CTA-button button:hover {
	background:#fff;color:#103b58
}
@keyframes bounce {
	0%,100%,20%,60% {
	    -webkit-transform:translateY(0);transform:translateY(0)
	}
	40% {
	    -webkit-transform:translateY(-20px);transform:translateY(-20px)
	}
	80% {
	    -webkit-transform:translateY(-10px);transform:translateY(-10px)
	}

}
.intro-section .down-arrow {
	position:absolute;bottom:calc(87px);left:50%;margin-left:-4.5px
}
.intro-section .down-arrow:hover {
	animation:bounce 1s
}
.main-section h1:first-of-type {
	margin-bottom:40px;margin-top:100px
}
.main-section .image-container {
	max-width:837px;width:100%;margin:auto auto 160px;position:relative
}
.main-section .image-container .focus-image:hover {
	-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH"
}
.main-section .image-container .diagonal-shape-1 {
	position:absolute;top:-20px;z-index:1;display:block;margin-left:735px
}
.main-section .image-container .diagonal-shape-2 {
	position:absolute;bottom:-20px;left:-20px;margin-left:0;z-index:1
}
.footer {
	line-height:20px;min-height:270px
}
.footer a {
	color:#103b58
}
.footer h1 {
	font-size:18px
}
.footer ul.footer-links {
	list-style:none;padding-left:0
}
.footer ul.footer-links li {
	font-size:14px
}
.overlay {
	float:left
}
@media only screen and (max-width:992px) {
	.intro-section .main-copy {
		padding:0 40px;margin-top:100px
	}
	.intro-section .main-copy .intro-CTA-buttons a {
		padding:0 10px;width:50%
	}
	.intro-section .main-copy .intro-CTA-buttons a:first-of-type {
		padding-left:0
	}
	.intro-section .main-copy .intro-CTA-buttons a:last-of-type {
		padding-right:0
	}
	.intro-section .main-copy .intro-CTA-buttons a button {
		width:100%
	}

}
